/build/**
!/build/**/
venv/
.idea
.cproject
.project
tests/sources
tests/conflict*
*.7z
.vs/
CMakeSettings.json
.vsls.json
#tests/
.git.old

*.vcxproj.user

update_projects.sh
update_usr_lib.sh
updateBin.bat

tests/__pycache__/

#!build/headerParser
#!build/headerParser.sha256

#!build/64/headerParser.exe
#!build/64/headerParser.sha256
#!build/32/headerParser.exe
#!build/32/headerParser.sha256


TODO.txt